.page-index {
  padding: 32px 24px 120px;
}

.index-header {
  margin-bottom: 24px;
}

.index-header__title {
  font-size: 48px;
  font-weight: 600;
  display: block;
  margin-bottom: 16px;
}

.index-header__search {
  width: 100%;
  height: 80px;
  border-radius: 40px;
  padding: 0 32px;
  background: #fff;
  font-size: 28px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.case-list {
  padding-bottom: 120px;
}
