<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><Company>武汉赛维尔生物科技有限公司</Company><Pages>131</Pages><Words>7387</Words><Characters>40607</Characters><Lines>38</Lines><Paragraphs>10</Paragraphs><TotalTime>256</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>43254</CharactersWithSpaces><Application>WPS Office_12.1.0.17857_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>